<%-include("partials/header");-%>
<%-include('navBar');-%>
<section class="parentSection">
    <div class="coupon"></div>
    <div class="set"><b><p>Find your Delicious foods here..</p></b><hr></div>
     <div class="searchAndSort"><%-include('sideBarSort');-%></div>  
     <div class="middleSection"><%-include('foodbox');-%>  </div>        
</section>
<%-include("partials/footer");-%>